<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="/templates/assets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="hero">
        <nav>
            <img src="/templates/assets/images/logo.png" class="logo" >
            <ul>
                <li><a href="/view">HOME</a></li>
                <li><a href="/view/skills">SKILLS</a></li>
                <li><a href="/view/portfolio">PORTFOLIO</a></li>
                <li><a href="/view/contact">CONTACT</a></li>
                <li><a href="/view/loginpage">LOGIN</a></li>
            </ul>
        </nav>
        <div class="detel">
            <h1>I'm Sai <span>Verma</span></h1>
            <p>This is my official Portfolio website to showcase my 
                all works related to <br> web development in Golang. </p>
            <a href="https://drive.google.com/file/d/1EfHvfclTkBQ2sgixFb6ghb1Q4FlN0HkZ/view?usp=sharing" target="_blank">Downdload CV</a>
        </div>
        <div class="images">
            <img src="/templates/assets/images/shape.jpg" class="shape">
            <img src="/templates/assets/images/phto.png" class="girl">
        </div>

        <div class="social">
           <a href="https://www.linkedin.com/in/saiverma/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
           <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
           <a href="https://www.youtube.com/channel/UCO-hPaLKN9KvkgiPXOYo-TQ" target="_blank"><i class="fab fa-youtube"></i></a>
           <a href="https://github.com/varmaexe" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</body>
</html>