<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/assets/css/posts.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="/view/posts/homepage"> <img class="logo" src="/templates/assets/images/Portfolio/Oh Crud!.png"  alt=""></a>
    <h1 class="allposts">Posts</h1>
    <div class="content">
      {{ if . }} {{range .}}
      <ul>
        <li> <strong>  {{ .Title }} </strong></li>
         --{{ .Body }}
      </ul>
      {{end}} {{else}}
      <p>nothing to see</p>
      {{end}}
    </div>
  </body>
</html>
