<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/assets/css/posts.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Oh CRUD!</title>
</head>
<body>
  <a href="/view/posts/homepage"> <img class="logo" src="/templates/assets/images/Portfolio/Oh Crud!.png"  alt="logo"></a>
   
    <a href="/view/posts/createpost" > <button class="button-52" role="button">C</button></a>
    <a href="/api/allposts"><button class="button-53" role="button">R</button></a>
    <a href="/view/postsupdate"><button class="button-54" role="button">U</button></a>
    <a href="/view/post/delete"><button class="button-55" role="button">D</button></a>
  
    
    

    
</body>
</html>