<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Animated Skills Bar | CodingNepal</title>
    <link rel="stylesheet" href="/templates/assets/styles.css">
    <!-- <link rel="stylesheet" href="/skills.css" /> -->
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="/templates/assets/images/logo.png" class="logo">
        <ul>
          <li><a href="/view">HOME</a></li>
          <li><a href="/view/skills">SKILLS</a></li>
          <li><a href="/view/portfolio">PORTFOLIO</a></li>
          <li><a href="/view/contact">CONTACT</a></li>
          <li><a href="/view/loginpage">LOGIN</a></li>
        </ul>
    </nav>
    </div>
    <div class="skill-bars">
      <div class="bar">
        <div class="info">
          <span>HTML</span>
        </div>
        <div class="progress-line html">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>CSS</span>
        </div>
        <div class="progress-line css">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>Golang</span>
        </div>
        <div class="progress-line Golang">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>Python</span>
        </div>
        <div class="progress-line python">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>Postgres</span>
        </div>
        <div class="progress-line postgres">
          <span></span>
        </div>
      </div>
    </div>
  </body>
</html>
