<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Animated Skills Bar | CodingNepal</title>
    <link rel="stylesheet" href="/templates/assets/styles.css">
    <!-- <link rel="stylesheet" href="/skills.css" /> -->
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="/templates/assets/images/logo.png" class="logo">
        <ul>
          <li><a href="/view">HOME</a></li>
          <li><a href="/view/skills">SKILLS</a></li>
          <li><a href="/view/portfolio">PORTFOLIO</a></li>
          <li><a href="/view/contact">CONTACT</a></li>
          <li><a href="/view/loginpage">LOGIN</a></li>
        </ul>
    </nav>
    <div class="reply-msg">
      <p>Hello {{.}}, I will get back to you as soon as possible</p>
    </div> 
    </div>
    
  </body>
</html>
